@model IEnumerable<ModelLayer.DB.Product>
<div class="container">
    <div class="row pt-4 pb-23">
        <div class="col-6">
            <div class="text-primary">
                Product List
            </div>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Addprod" class="btn btn-primary"> Create New Summary</a>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title </th>
                <th>Description</th>
                <th>ISBN</th>
                <th>Author</th>
                <th>ListPrice</th>
                <th>Price50</th>
                <th>Price100</th>
            
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.ISBN</td>
                    <td>@item.Author</td>
                    <td>@item.ListPrice</td>
                    <td>@item.price50</td>
                    <td>@item.price100</td>

                    
                  

                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Product" asp-action="EditProd" asp-route-id="@item.productId" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i>Edit</a>
                        </div>

                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
